
http://leaf.local {

	@acmeChallenge path /.well-known/acme-challenge/*
	handle @acmeChallenge {
		root * /srv
		file_server
	}

	@notAcmeChallenge not path /.well-known/acme-challenge/*
	handle @notAcmeChallenge {
		redir https://leaf.local{uri} permanent
	}
}


https://leaf.local {


	tls {
		ca https://caddy-ca/acme/local/directory
		ca_root /etc/caddy/root.crt
	}

	respond "CA leaf running."
}
