
# We allow http only for establishing the trust with ACME.
http://leaf.localhost {

	# This is http (used to solve the http-01 challenge issued by the ACME server.)
	@acmeChallenge path /.well-known/acme-challenge/*
	handle @acmeChallenge {
		root * /srv
		file_server
	}

	# https otherwise
	@notAcmeChallenge not path /.well-known/acme-challenge/*
	handle @notAcmeChallenge {
		redir https://leaf.localhost{uri} permanent
	}
}


https://leaf.localhost {


	tls {
		# ACME server that issues the certificate
		ca https://caddy_acme/acme/local/directory
		ca_root /etc/caddy/root.crt
	}

	respond "CA leaf running."
}
